.Horarios {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center;
    padding-bottom: 40px;
    margin-top: 150px;
    width: 100%;
    position: relative;
}

.Horarios > h3 {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Allenoire';
    color: #ffffff;
    background-color: rgb(27, 27, 27);
    width: 400px;
    border-radius: 22px;
    box-shadow: 1px 1px 10px black;
}

.SeparadorTabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.TablaHorarios {
    width: 1000px;
    border-radius: 22px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 30px;
    display: table;
    max-height: 500px; /* Limita el tamaño de la tabla */
    overflow-y: auto; /* Agrega un scroll vertical dentro de la tabla */
}

.TablaHorarios th {
    color: #141414;
    background-color: rgb(230, 225, 225);
    padding: 10px;
    font-family: 'Allenoire';
}

.niveles, .Horas {
    font-family: 'Allenoire';
    font-weight: lighter;
    padding: 10px;
}

.AgregarClase {
    width: 1000px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 22px;
    margin-top: 740px; /* Separa la tabla del formulario */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}

.AgregarClase select,
.AgregarClase input,
.AgregarClase button {
    margin: 10px;
    padding: 10px;
    font-family: 'Allenoire';
    width: 250px;
}

.AgregarClase button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.AgregarClase button:hover {
    background-color: #218838;
}

@media (max-width: 600px) {
    .TablaHorarios {
        width: 100%;
    }
    .TablaHorarios th,
    .TablaHorarios td {
        font-size: 9px;
        padding: 5px;
    }
    .Horarios > h3 {
        font-size: 25px;
        width: 100%;
    }
    .Horas {
        width: 50px;
    }
    .AgregarClase {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 90%;
    }
    .AgregarClase select,
    .AgregarClase input,
    .AgregarClase button {
        width: 80%;
        font-size: 12px;
    }
}
