/* header.css */

.header {
    width: 100%; /* Cambia el ancho a 100% para ocupar todo el ancho de la pantalla */
    max-width: 1419px; /* Limita el ancho máximo */
    height: 83px;
    background: white;
    box-shadow: 0px 4px 6.6px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto; 
}

.logo img {
    height: 63px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px; /* Reduce el espacio entre los enlaces */
}

.nav-links a {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #172764;
    text-decoration: none;
    transition: color 0.3s; /* Añadir transición para el color */
}

.nav-links a:hover {
    color: #0056b3; /* Cambia el color del texto al pasar el mouse a un azul más claro */
}

.login-container {
    display: flex; /* Cambia el contenedor de login a flex */
    align-items: center; /* Centra los elementos */
}

.login-button {
    padding: 10px 20px; /* Ajustar el espaciado interno */
    background-color: #B40A00;
    border-radius: 22px;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.login-button:hover {
    background-color: #0056b3; 
}

.logout-button {
    padding: 10px 20px; 
    background-color: #B40A00;
    border-radius: 22px;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.logout-button:hover {
    background-color: #0056b3; 
}

/* Login Form styles */
.login-form {
    display: none; 
    position: absolute; 
    top: 85px; 
    left: 0; 
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px; 
    padding: 20px; 
    z-index: 1000; 
}

.login-container:hover .login-form {
    display: block; 
}

/* Otros estilos */
.error-message {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #B40A00;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #172764; 
}
