.Contenido-Modificar {
    width: 40vw;
    position: relative;
    margin: 0 auto;
    display: block;
    justify-self: center;
    width: 40vw;
    background-color: rgb(250, 245, 245);
    z-index: 1;
}
.Contenido-Modificar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100%;
    background-image: url(../../images/PatronFondo.png); 
    background-size: 90%;
    opacity: 0.4; 
    border-bottom-right-radius: 22.5px;
    border-bottom-left-radius: 22.5px;
    z-index: -1; 
}

.Contenido-Modificar h1 {
    text-align: center;
    background-color: rgb(27, 24, 24);
    padding: 20px 0;
    font-family: 'Allenoire';
    font-size: 30px;
    color: white;
}
.Contenido-Modificar h2{
    text-align: center;
    font-family: 'Allenoire';
}
.info-extra {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 1px rgb(196, 187, 187);
    background-color: rgb(238, 232, 232);
    padding: 20px;
    margin: 20px auto;
    width: 85%;
    border-radius: 8px;
    padding-bottom: 50px;
    box-shadow: 1px 0px 10px gray;
}

.info-extra h4 {
    font-family: 'Allenoire';
    font-size: 18px;
    padding: 30px;
    margin-top: -30px;
    margin-bottom: -30px;
}

.pics-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas */
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 15px;
    background-color: rgba(43, 38, 38, 0.801);
    padding-bottom: 30px;
}

.photo-option {
    justify-self: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.2s ease;
    filter: grayscale(90%);
    border-radius: 5px;
}

.photo-option:hover {
    transform: scale(1.1);
    filter: grayscale(10%);
}

.photo-option.selected {
    filter: none; /* La imagen seleccionada no tiene saturación */
    border: 2px solid rgb(171, 171, 243);
}
.saveBTN{
    color: white;
    margin-bottom: 30px;
}
.saveBTN:hover{
    background-color: #470f8f;
}
