.contenidoProfile{
    background: white;
    box-shadow: 1px 0px 5px gray;
    width: 60vw;
    justify-self: center;
}
.Contenido-Perfil>h2{
    color: white;
    background-color: rgb(22, 17, 17);
    padding: 10px;
    text-align: center;
    font-family: 'allenoire';
    font-size: 35px;
}
.userData{
    width: 600px;
    margin-top: -70px;
    padding: 50px;
    justify-self: center;
}
.user-w-pic {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 175px; 
    padding: 20px; 
    height: 120px; 
    width: 100%; 
}

.user {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}
.user-w-pic .user h2{
    font-size: 4vw;
    font-family: 'Allenoire';
}
.user-w-pic .user h4{
    font-size: 2vw;
    font-family: 'Ristorante';
}
.user h2, .user h4 {
    margin: 5px 0; 
}

.pic img {
    max-width: 150px; 
    height: auto;
    border-radius: 50%; 
    border: 2px solid #858585; 
    margin-top: -20px;
}
.userData h3{
    font-size: 30px;
}
.Rol{
    color: rgb(228, 32, 32);
}
.extra-info{
    background-color: white;
    box-shadow: 1px 0px 20px gray;
}
.extra-info h4{
    padding: 10px;
}
.noce{
    display: flex;
    margin:  0 auto;
    justify-content: center;
}
.noce>button{
    font-family: 'allenoire';
    font-size: 1.5vw;
    letter-spacing: 0.5px;
    padding: 20px;
    border-radius: 12px;
    border: none;
    text-align: center;
    align-items: center;
    background-color: rgb(27, 24, 24);
}
.modifyBTN{
    color: white;
    text-decoration: none;
    justify-self: center;
}
.noce>button:hover{
    background-color: #470f8f;
}

.BTNSave{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nombreUsuario{
    justify-self: center;
    font-family: 'Allenoire';
    margin-bottom: -30px;
}
.extra-info {
    width: 600px;
}
.extra-info h1{
    background-color: rgb(212, 207, 207);
    width: 100%;
    margin: 0px;
    margin-left: 0px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    font-family: 'Allenoire';
}
.extra-info h4{
    font-family: 'Allenoire';
    color: grey;
    margin-left: 30px;
    padding-bottom: 30px;
}
@media (max-width:600px) {
    .contenidoProfile{
        display: block;
        margin: 0 auto;
        position: relative;
        width: 90vw;
    }
    .user-w-pic{
        gap: 50px;
    }
    .extra-info{
        width: 70vw;
        justify-self: center;
    }
    .user h2{
        font-size: 4vw !important;
    }
    .Rol{
        font-size: 4vw !important;
    }
}