.header-content {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 130px;
  background-color: #f0eded;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: top 0.3s ease-in-out;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: auto;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-title img {
  height: 70px;
}

.Title {
  display: flex;
  gap: 20px;
  font-family: 'Allenoire';
}

.Word {
  display: flex;
  gap: 5px;
  font-size: 35px;
}

#Blue {
  background-color: rgb(31, 31, 112);
  color: white;
  padding: 1px;
  height: 35px;
}

#Red {
  background-color: rgb(199, 25, 25);
  color: white;
  padding: 1px;
  height: 35px;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  background-color: #f0eded;
}

.btn {
  position: relative;
  padding: 10px;
  font-size: 20px;
  font-family: 'Paradose';
  font-weight: lighter;
  color: rgb(20, 20, 20);
  cursor: pointer;
  background: none;
  border: none;
}

.btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background: red;
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: transform 0.3s ease;
}

.btn-left:hover::after {
  transform: scale(1, 1);
}

.linkStyle {
  text-decoration: none;
  color: rgb(20, 20, 20);
}

.EstiloLink {
  text-decoration: none;
  color: white;
}

.cerrarGuest h3 {
  background-color: #B40A00;
  border-radius: 19px;
  color: white;
  font-size: 18px;
  font-family: 'Allenoire';
  padding: 10px;
  cursor: pointer;
}

.cerrarGuest h3:hover {
  background-color: rgb(31, 31, 112);
}

.first-button {
  padding: 10px 20px;
  font-size: 20px;
  width: 150px !important;
  border: none;
  color: white;
  background-color: rgb(211, 19, 19);
  transition: ease-in-out 0.3s;
  border: solid white 1px;
  border-radius: 25px;
  font-family: 'Neka';
}

.first-button:hover {
  background-color: rgb(31, 31, 112);
  color: ghostwhite;
}

.login-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.log-perf {
  display: flex;
  align-items: center;
  gap: 20px;
}

.BTNAvisos {
  padding-left: 3vw;
}

.BTNSidebar {
  justify-content: center;
  align-items: center;
}

.BotonSidebar {
  display: flex;
}

@media (max-width: 700px) {
  .header-content{
    height: auto;
    background-color: transparent;
    box-shadow: none;
  }
  .header-top {
    flex-direction: column;
    text-align: center;
    background-color: #f0eded;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  .nav-links {
    flex-direction: column;
    padding: 10px;
  }

  .first-button {
    width: 80%;
    margin-top: 10px;
  }
  .log-perf {
    flex-direction: row;
    display: flex;
    
  }
  .Title {
  display: flex;
  gap: 20px;
  font-family: 'Allenoire';
  
}

.Word {
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 35px;
}

#Blue {
  background-color: rgb(31, 31, 112);
  color: white;
  margin-right: 2px;
  margin-left: 2px;
  height: 35px;
}

#Red {
  background-color: rgb(199, 25, 25);
  color: white;
  padding: 1px;
  height: 35px;
}
.login-container{
  display: flex;
  flex-direction: row;
}
}
