.contentWork{
    justify-self: center;
    
    align-items: center;
}
.TextoMantenimiento{
    color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    justify-self: center;
    width: 350px;
    text-align: center;
    font-size: 2vw;
}
.ImagenRobot{
    height: 200px;
    opacity: 50%;

}
@media (max-width:600px) {
    .TextoMantenimiento{
        font-size: 4vw;
    }
}